<div>
    <p class="content-title">Monitoraggio dell'Indice di Qualit&agrave; dell'Aria</p>

    <p class="content-text">
    Questo sito riporta i valori di qualit&agrave; dell'aria che sono stati pubblicati e validati dalle Agenzie Regionali per la Protezione
    dell'Ambiente (ARPA) dislocate sul territorio nazionale e resi disponibili attraverso i siti web delle stesse Agenzie.
    </p>

    <p class="content-text content-bold content-center">Seleziona una regione per visualizzarne la qualit&agrave; dell'aria:</p>
    <div id="seleziona-regione">
        <select id="menu_reg" onchange="swap('mappa', this.options[this.selectedIndex].value)" >
        <option value="italia">Italia</option>
        <option value="select" selected="selected">SELEZIONA LA REGIONE...</option>
        <option value="abruzzo">Abruzzo</option>
        <option value="basilicata">Basilicata</option>
        <option value="calabria">Calabria</option>
        <option value="campania">Campania</option>
        <option value="emilia romagna">Emilia Romagna</option>
        <option value="friuli venezia giulia">Friuli Venezia Giulia</option>
        <option value="lazio">Lazio</option>
        <option value="liguria">Liguria</option>
        <option value="lombardia">Lombardia</option>
        <option value="marche">Marche</option>
        <option value="molise">Molise</option>
        <option value="piemonte">Piemonte</option>
        <option value="puglia">Puglia</option>
        <option value="sardegna">Sardegna</option>
        <option value="sicilia">Sicilia</option>
        <option value="toscana">Toscana</option>
        <option value="trentino alto adige">Trentino Alto Adige</option>
        <option value="umbria">Umbria</option>
        <option value="valle d'aosta">Valle d'Aosta</option>
        <option value="veneto">Veneto</option>
        </select>
    </div>
</div>
