<div style="width:100%;">
    <p class="content-title content-left">Che cos'&egrave;?</p>
    <p class="content-text">
        Un indice di qualit&agrave; dell'aria &egrave; una grandezza che permette di rappresentare in maniera sintetica lo stato di
        qualit&agrave; dell'aria considerando contemporaneamente i dati di pi&ugrave; inquinanti atmosferici.
        L'indice, associato ad una scala di giudizio, rappresenta uno strumento di immediata
        lettura, svincolato dalle unit&agrave; di misura e dai limiti di legge che possono essere di difficile comprensione per i
        non esperti.<br>Il calcolo dell'indice viene eseguito dividendo la misurazione relativa all'inquinante, per il suo limite di riferimento,
        stabilito per legge dal <a style="color: black;" href="DLgs-155-del-13-08-2010.pdf">D.Lgs. 155/2010</a>.
    </p>
    <p class="content-text">
        Pi&ugrave; nello specifico, l'indice adottato fa riferimento a 5 classi di giudizio a cui sono associati
        altrettanti cromatismi e viene calcolato in base ad indicatori di legge.
        Quello considerato &egrave; un indice cautelativo, cio&egrave; si basa sempre sullo stato del peggiore fra gli inquinanti considerati.
    </p>

    <p class="content-title content-left">Quali informazioni si possono ricavare?</p>
    <p class="content-text">
        <span class="content-bold">Qualit&agrave; dell'aria Buona e Discreta &mdash;</span>
        Le prime due classi informano che non sono stati registrati superamenti dei relativi indicatori di legge per
        nessuno degli inquinanti e che quindi non vi sono criticit&agrave; legate alla qualit&agrave; dell'aria per la stazione considerata.
    </p>
    <p class="content-text">
        <span class="content-bold">Qualit&agrave; dell'aria Mediocre, Scadente e Pessima &mdash;</span>
        Le altre tre classi indicano che gli inquinanti considerati hanno superato il relativo indicatore di legge.
        In questo caso, la gravit&agrave; del superamento &egrave; determinata dal relativo giudizio assegnato ed &egrave; possibile quindi
        distinguere situazioni di moderato superamento da altre significativamente pi&ugrave; critiche:
    </p>
    <ul id="iqa_list">
        <li class="content-text"><img src="images/markers/buona_.png" class="marker"> <span class="content-bold">Buona:</span> <span> L'inquinante peggiore ha concentrazioni inferiori alla met&agrave; del relativo valore limite;</span></li>
        <li class="content-text"><img src="images/markers/discreta_.png" style="margin-top:10px;"class="marker"> <span class="content-bold">Discreta:</span> <span> L'inquinante peggiore ha raggiunto concentrazioni fino al valore limite consentito;</span></li>
        <li class="content-text"><img src="images/markers/mediocre_.png" style="margin-top:10px;"class="marker"> <span class="content-bold">Mediocre:</span> <span> L'inquinante peggiore ha raggiunto concentrazioni fino a una volta e mezzo il valore limite;</span></li>
        <li class="content-text"><img src="images/markers/scadente_.png" style="margin-top:10px;"class="marker"> <span class="content-bold">Scadente:</span> <span> L'inquinante peggiore ha raggiunto concentrazioni fino a due volte il valore limite;</span></li>
        <li class="content-text"><img src="images/markers/pessima_.png" style="margin-top:10px;"class="marker"> <span class="content-bold">Pessima:</span> <span> L'inquinante peggiore ha raggiunto concentrazioni superiori al doppio del valore limite.</span></li>
    </ul>
</div>
