<div>
    <p class="content-title content-left">Le sostanze misurate</p>
    <div class ="content-section">
        <div class="section-title">
            <span>PM10 e PM2.5: Particolato atmosferico</span><span>></span>
        </div>
        <div  class="section-description">
             <p class="content-text">Il particolato atmosferico &egrave; un insieme di particelle, solide e liquide. Le sorgenti possono essere di tipo
             naturale (erosione del suolo, spray marino, vulcani, incendi boschivi, dispersione di pollini, etc.) o
             antropogenico (industrie, riscaldamento, traffico veicolare e processi di combustione in generale). Pu&ograve;
             essere di tipo primario se immesso in atmosfera direttamente dalla sorgente o secondario se si forma
             successivamente, in seguito a trasformazioni chimico-fisiche di altre sostanze. Si tratta, dunque, di un
             inquinante che si presenta non come una specifica entit&agrave; chimica ma come una miscela di particelle dalle
             pi&ugrave; svariate propriet&agrave;. I maggiori componenti del particolato atmosferico sono il solfato, il nitrato,
             l'ammoniaca, il cloruro di sodio, il carbonio, le polveri minerali e si stima che in alcuni contesti urbani pi&ugrave;
             del 50% sia di origine secondaria.
            </p>
            <p class="content-text">Limite di riferimento per PM10: 50 &#956g/m<sup>3</sup> (media giornaliera).
                <br/>
                Limite di riferimento per PM2.5: 25 &#956g/m<sup>3</sup> (media annuale).</p>
        </div>
    </div>
    <div class ="content-section">
        <div class="section-title">
            <span>NO<sub>2</sub>, NO : Biossido di azoto, monossido di azoto</span><span>></span>
        </div>
        <div class="section-description">
            <p class="content-text">Il biossido di azoto (NO<sub>2</sub>) &egrave; un forte agente ossidante e reagisce violentemente con materiali combustibili e
            riducenti mentre in presenza di acqua &egrave; in grado di ossidare diversi metalli. Si tratta di un
            inquinante per lo pi&ugrave; secondario, che si forma in atmosfera principalmente per ossidazione del
            monossido di azoto (NO).
           </p>
           <p class="content-text">Limite di riferimento per NO<sub>2</sub>: 200 &#956g/m<sup>3</sup> (media oraria).</p>
        </div>
    </div>
    <div class ="content-section">
        <div class="section-title">
            <span>O<sub>3</sub>: Ozono</span><span>></span>
        </div>
        <div class="section-description">
            <p class="content-text">L'ozono &egrave; un potente ossidante con molte applicazioni industriali. In natura pi&ugrave; del 90% si trova nella
            stratosfera (fascia di atmosfera che va indicativamente dai 10 ai 50 km di altezza), dove costituisce una
            indispensabile barriera protettiva nei confronti delle radiazioni UV generate dal sole. Nella troposfera
            (fascia di atmosfera che va dal suolo fino a circa 12 km di altezza) l'ozono si forma a seguito di reazioni
            chimiche tra ossidi di azoto e composti organici volatili, favorite dalle alte temperature e dal forte
            irraggiamento solare. Si tratta, quindi, di un inquinante secondario i cui precursori sono generalmente
            prodotti da combustione civile e industriale e da processi che utilizzano o producono sostanze chimiche
            volatili, come solventi e carburanti. Assieme ad altri composti costituisce il tipico inquinamento estivo
            detto smog fotochimico.
           </p>
            <p class="content-text">Limite di riferimento per O<sub>3</sub>: 180 &#956g/m<sup>3</sup>.(media mobile 8h )</p>
        </div>
    </div>
    <div class ="content-section">
        <div class="section-title">
        <span>CO: monossido di carbonio</span><span>></span>
        </div>
        <div class="section-description">
             <p class="content-text">Il monossido di carbonio si miscela bene con l'aria, formando miscele esplosive, e riesce a penetrare
             attraverso le pareti. Pu&ograve; reagire vigorosamente con ossigeno, acetilene, cloro, fluoro, ossidi di azoto. &egrave;
             un inquinante prevalentemente primario, emesso direttamente da tutti i processi di combustione
             incompleta dei composti carboniosi. Le sorgenti possono essere di tipo naturale (incendi, vulcani,
             emissioni da oceani, etc.) o di tipo antropico (traffico veicolare, riscaldamento, attivit&agrave; industriali come la
             produzione di ghisa e acciaio, raffinazione del petrolio, lavorazione del legno e della carta, etc.).
            </p>
            <p class="content-text">Limite di riferimento per CO: 10 mg/m<sup>3</sup>.(media mobile 8h )</p>
        </div>
    </div>
    <div class ="content-section">
        <div class="section-title">
            <span>SO<sub>2</sub>: Biossido di zolfo</span><span>></span>
        </div>
        <div class="section-description">
             <p class="content-text">Il biossido di zolfo reagisce violentemente con l'ammoniaca e le ammine, l'acetilene, i metalli alcalini, il
             cloro, l'ossido di etilene e in presenza di acqua o vapore acqueo pu&ograve; attaccare molti metalli, tra cui
             l'alluminio, il ferro, l'acciaio, l'ottone, il rame e il nichel. Liquefatto, pu&ograve; corrodere le materie plastiche e
             la gomma. La presenza in atmosfera &egrave; dovuta soprattutto alla combustione di combustibili fossili
             (carbone e derivati del petrolio) in cui lo zolfo &egrave; presente come impurezza. In natura &egrave; prodotto
             prevalentemente dall'attivit&agrave; vulcanica mentre le principali sorgenti antropiche sono gli impianti per il
             riscaldamento e la produzione di energia alimentati a gasolio, carbone e oli combustibili.
            </p>
            <p class="content-text">Limite di riferimento per SO<sub>2</sub>: 350 &#956g/m<sup>3</sup> (media oraria).</p>
         </div>
    </div>
    <div class ="content-section">
        <div  class="section-title">
        <span>BENZENE</span><span>></span>
        </div>
        <div class="section-description">
             <p class="content-text">Il benzene &egrave; un costituente naturale del petrolio e viene sintetizzato a partire da composti chimici
             presenti nel petrolio stesso. Possiede notevoli propriet&agrave; solventi: &egrave; miscibile in tutte le proporzioni con
             molti altri solventi organici, mentre &egrave; poco solubile in acqua. Il benzene viene utilizzato come materia
             prima per produrre plastiche, resine sintetiche e pesticidi e come antidetonante nelle benzine. La
             maggior parte del benzene presente in atmosfera deriva da combustioni incomplete di composti ricchi
             di carbonio: in natura &egrave; prodotto dai vulcani o negli incendi di foreste mentre le principali fonti
             antropogeniche sono il traffico veicolare (soprattutto motori a benzina) e svariati processi di
             combustione industriale.
            </p>
             <p class="content-text">Limite di riferimento per BENZENE: 5 &#956g/m<sup>3</sup> (media annua).</p>
        </div>
    </div>
</div>
